

.hide-content{
    display: none;
}

.no-hide{
    display:block;
}

.card-body{
    padding:0 !important;
}

.platypus-header{
    opacity:0;
    z-index: -1;
}

.game-header{
    z-index: 9999;
    margin-bottom: 0 !important;
}

.game-footer-container{
    // padding-left: 5px;
    // padding-right: 5px;
    border: solid black 1px;
    border-radius: 7px;
}

@media only screen and (min-width: 768px){
    .padding-content{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        font-weight: 700;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 30px;
    }
}

@media only screen and (min-width: 571px) and (max-width: 767px){
    .padding-content{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 34px;
        padding-right: 34px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 570px){
    .padding-content{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 25px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 479px){
    // .game-footer-container{
    //     padding-left: 66px;
    //     padding-right: 66px;
    // }
    .padding-content{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 25px;
    }
}

@media only screen and (max-width: 425px){
    // .game-footer-container{
    //     padding-left: 58px;
    //     padding-right: 57px;
    // }
    .padding-content{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 25px;
    }
}

@media only screen and (max-width: 320px){
    .padding-content{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 25px;
    }
}
