.padding-content{
    padding-right: 40px;
    padding-left: 40px;
}

.hide-content{
    display: none;
}

.no-hide{
    display:block;
}

// body > #root > div {
//     height: 100vh !important;
// }
