

.hide-content{
    display: none;
}

.no-hide{
    display:block;
}

@media only screen and (min-width: 768px){
    .padding-content{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 18px;
    }
}

@media only screen and (min-width: 571px) and (max-width: 767px){
    .padding-content{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 34px;
        padding-right: 34px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 570px){
    .padding-content{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 30px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 479px){
    .padding-content{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 30px;
    }
}

@media only screen and (max-width: 425px){
    .padding-content{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px){
    .padding-content{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .game-header{
        background-color: #77CBAF;
        font-size: 50px;
        color: white;
    }

    .game-footer{
        margin-bottom: 0px;
        padding: 5px;
        font-style: bold;
        font-size: 25px;
    }
}
